<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/images/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6de0bb2e66.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/" >
            <img src="/images/logo-mercado-liebre.svg" id="logo">
        </a>
            <div class="searchbar">
                <input  type="text" placeholder="Buscar productos, marcas" ><button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        
        <div>
            <h5>
            <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito
            </h5>
        </div>
        <section>   
            <nav class="navtop">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </nav>
        </section> 
        <br>   
        <section>
            <nav class="navbottom">
                <li><a href="#">Crea tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </nav>
        </section>
        <section>
            <div class="burger">
                <button id="burger">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </section>
    <img class="banner" src="/images/img-home-banner.jpg" alt="banner">         
    </header>
    <main>
        <h2>
            Basado en tu última visita
        </h2>
        <ul>
            <li>
                <picture>
                    <img class="item" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </picture>
                <article>    
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>         
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <h3 class="description">Cafetera Moulinex</h3>
                </article>
            </li>
            <li>
                <picture>
                    <img class="item" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                </picture>
                <article>     
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>        
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h3 class="description">MacBook Pro 2019</h3>
                </article>
            </li>
            <li>
                <picture>
                    <img class="item" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </picture>
                <article>
                    <div class="truck"><i class="fa-solid fa-truck"></i></div> 
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h3 class="description">Samsung Galaxy S10</h3>
                </article>
            </li>
            <li>
                <picture>
                    <img class="item" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samnsung 43">
                </picture>
                <article>       
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>      
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <h3 class="description">SmartTv Samsung 43"</h3>
                </article>
            </li>
        </ul>
        <h2>
            Ofertas
        </h2>
        <ul>
            <li>
                <picture>
                    <img class="item" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </picture>
                <article>  
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>          
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                    <h3 class="description">Cafetera Moulinex</h3>
                </article>
            </li>
            <li>
                <picture>
                    <img class="item" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                </picture>
                <article> 
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>            
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                    <h3 class="description">MacBook Pro 2019</h3>
                </article>
            </li>
            <li>
                <picture>
                    <img class="item" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                </picture>
                <article>
                    <div class="truck"><i class="fa-solid fa-truck"></i></div> 
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                    <h3 class="description">Samsung Galaxy S10</h3>
                </article>
            </li>
            <li>
                <picture>
                    <img class="item" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samnsung 43">
                </picture>
                <article>   
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>          
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                    <h3 class="description">SmartTv Samsung 43"</h3>
                </article>
            </li>
        </ul>
    </main>
    <footer>
            <section>
                <div class="bottomIcons">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h4>Paga con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                <div class="bottomIcons">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                <div class="bottomIcons">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <br>
            <div>
                <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </div>
    </footer>
</body>
</html>