*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main{
  width: 100%;
  background-color: #ebebeb;
}

body{
  font-family: 'Roboto', sans-serif;
}
ul li{
  list-style-type: none;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: auto;
}


 
.item{
    width: auto ;
    height: auto ;
    margin: auto;
    display: flex;
    width: 80%;
    flex-direction: column;
    box-sizing: border-box;
  }

article{
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
  border-top: 1px solid #ebebeb;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  background-color: white;
  align-items: center;
}

.price{
  box-sizing: border-box;
  font-size: 18px;
  width: 30%;
}

.discount{
  box-sizing: border-box;
  font-size:  16px; 
  color: #39b54a;
  width: 70%;
}

h2{
  font-size: 24px;
  margin: auto;
}

.description{
  box-sizing: border-box;
  font-size: 16px;
  color: #666;
  margin-top: 3em;
  display: none;
}

p{
  font-size: 12px;
}
.truck{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;
}

@media (min-width: 768px) {
  .description{
    display: block;
    color: #666;
    margin-top: 15px;
  }
  .item{
    box-shadow: 0 px 0px 10px rgb(100, 100, 100);
  }
  .article{
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    box-shadow: 0 px 0px 10px rgb(100, 100, 100);
  }
}