footer{
    text-align: center;
    color: #666;
}
.bottomIcons{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
#copyright{
    text-align: left;
    
}
h4{
    margin-bottom: 0;
}

